extends ../layout/application

block header
  h1 Add new buku

block content
  form(action="/buku" method="POST")
    div
      label Judul
      input(type="text" name="judul")
    div
      label Penulis
      input(type="text" name="penulis")
    div
      label Tahun
      select(name="tahun")
        - for (i=1998; i<2018;i++){
          option(value=i)= i
        - }
    div
      button(type="submit") Simpan
